# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/04--Operator-Scope/v17/Browse.VC.db
/.vs/04--Operator-Scope/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/04--Operator-Scope/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/04--Operator-Scope/FileContentIndex
